body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    color: black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, width 0.3s ease;
    position: fixed; /* Fix sidebar to the left */
    height: 100%;
    align-items: center;
}

.sidebar.hidden {
    width: 60px;
    padding: 15px 5px; /* Adjust padding to fit smaller width */
}

.logo {
    width: 100px;
    height: 100px;
    transition: width 0.3s, height 0.3s;
    top: 0px;
    padding-bottom: 5px;
}

.sidebar.hidden .logo {
    width: 50px;
    height: 50px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
    display: flex;
    justify-content: center; /* Center align text in smaller width */
}

.sidebar ul li a:hover {
    color: rgba(21,84,119,1);
    text-emphasis-color: rgba(21,84,119,1);
    transform: scale(1.3);
    

    
}

.sidebar ul li a {
    color: black;
    text-decoration: none;
    white-space: nowrap; /* Prevent text from wrapping */
    padding-left: 30px;
    padding-right: 30px;
}


.sidebar .contact {
    margin-top: 10px; /* Adjusted margin for extra space */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align text in smaller width */
    transition: opacity 0.3s;
    font-size: 12px;
}

.sidebar.hidden .contact {
    opacity: 0; /* Hide contact details when collapsed */
}
.sidebar.hidden .menu {
    opacity: 0; /* Hide menu details when collapsed */
}
.sidebar.hidden .facebook p{
    display: none;
}
.sidebar.hidden .facebook {
    display:flex;
    flex-direction: column;
    margin-top: 20%;
}
.social-icon{
    width: 10px;
}

.main-content {
    flex: 1;
    padding: 5px;
    background-color: #eceaea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: margin-left 0.3s ease;
    margin-left: 250px;
    width: calc(100% - 250px); /* Adjust width to account for sidebar */
    
}

.main-content.expanded {
    margin-left: 60px;
    width: calc(100% - 60px); /* Adjust width to account for collapsed sidebar */
}

header {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(21,84,119,1); /* Set background to black */
    color: #faeb95; /* Set text color to white */
    
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }
header h2{
      margin-bottom: 1.5%;
      margin-top: 1.5%;
  }

#animated-text {
    font-size: 1.5em;
    color: #f4f4f4;
    animation: fadeInOut 4s infinite;
}
.facebook img{
    width: 20px;
    height: 20px;
}
@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

.events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-bottom: 6%;
    align-content: center;
    margin-top: 8%;

    margin-bottom: auto; /* Pushes footer to the bottom */
    gap: 10%;
  
}

.event-card {
    width: 80%;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease; /* Smooth hover effect */
    display: flex;
    flex-direction: column;
    margin-left: 10%;
  align-items: center;
  justify-content: center;
  

    
    
}

.event-card:hover {
    transform: scale(1.05); /* Grow on hover */
}

.event-card img {
    width: 100%;

    height: 200px;
    transition: transform 0.3s ease; /* Smooth hover effect */
    
}

.event-card img:hover {
    transform: scale(1.05); /* Grow on hover */
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
}
.menu-button{
        display: inline-block;
        padding: 5px 15px;
        background: linear-gradient(to right, rgba(21,84,119,1), rgba(21,84,119,1) 10%, #aaa 10%, #aaa 90%, rgba(21,84,119,1) 90%);
        border-radius: 40px;
        text-align: center;
        color: #fff;
        font-size: 12px;
        font-family: Arial, sans-serif;
        text-shadow: 2px 2px 4px #000;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: transform 0.3s;
    
}
.menu-button:hover{
    transform: scale(1.05);
}
.menu{
    display: inline-block;
    padding: 10px 50px;
    background: linear-gradient(to right, rgba(21,84,119,1), rgba(21,84,119,1) 10%, #aaa 10%, #aaa 90%, rgba(21,84,119,1) 90%);
    border-radius: 40px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.menu:hover {
    transform: scale(1.05);
}
.mobile-sidebar{
    display: none;
}

.subheader h2{
   
    padding-left: 30%;
    padding-right: 30%;
    
}
.subheader p{
    padding-left: 20%;
    padding-right: 20%;
    font-style: italic;
}




/* slide section */
    #slideshow {
        position: relative;
        max-width: 100%;
        margin: auto;
        overflow: hidden; /* Add this to hide overflow */
        
    }
    
    .slides {
        display: flex;
        transition: transform 0.6s ease-in-out; /* Transition effect */
    }
    
    .slide {
        min-width: 100%; /* Make each slide take up full width */
        box-sizing: border-box;
    }
    
    
    
    .slide img {
        width: 100%;
        height: auto; 
    }
    
    .text {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: #fff;
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
    }
    
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: #fff;
        font-weight: bold;
        font-size: 24px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        z-index: 10; /* Ensure buttons are on top of images */
    }
    
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    .prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    


@media only screen and (max-width: 768px) {
    body {
        display: block;
        margin: 0;
        padding: 0;
    }

    .sidebar {
        display: none; /* Hide sidebar on mobile */
    }

    .main-content {
        margin-left: 0;
        width: 100%;
        padding: 0;
        padding-top: 140px; /* Adjust top padding to prevent content overlap */
    }

    header {
        background-color: rgba(21,84,119,1);
        color: #faeb95;
        padding: 0px;
        text-align: center;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        font-size: 50%;
        
    }

   
    
    .mobile-sidebar {
        display: flex;
        flex-direction: row;
        z-index: 10000;
        align-items: center;
        justify-content: space-evenly;
    }
    .mobile-sidebar .mobile-menu {
        
    display: flex;
    flex-direction: row;
    padding: 10px 50px;
    background: linear-gradient(to right, rgba(21,84,119,1), rgba(21,84,119,1) 10%, #aaa 10%, #aaa 90%, rgba(21,84,119,1) 90%);
    border-radius: 40px;
    text-align: center;
    color: black;
    font-size: 100%;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
    width: 80%;
    position: fixed;
    top: 7%;
    justify-content: space-evenly;
    
    

    }
    .mobile-menu:hover {
        transform: scale(1.05);
    }
    
    .mobile-sidebar  ul {
        list-style: none;
        padding: 0;
        
    }
    
    .mobile-sidebar ul li a  {
        text-decoration: none;
        margin: 10px 0;
        display: flex;
        color: #000;
    
        justify-content: center; /* Center align text in smaller width */
    }
    
    .mobile-sidebar ul li a:hover {
        color: rgba(21,84,119,1);
        text-emphasis-color: rgba(21,84,119,1);
        transform: scale(1.3);
          
    }
    
    .mobile-sidebar  {
        color: black;
        text-decoration: none;
        white-space: nowrap; /* Prevent text from wrapping */
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .events {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        max-width: 80%;
        align-items: center;
        justify-content: center;
        padding-top: 80%;
       /* display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5%;*/
        gap: 0%;
    
        
    }

    .event-card {
        width: 100%;
        margin-bottom: 20px;
    
       
    }

    .event-card img {
        width: 100%;
        height: auto;
    }

    .facebook, .contact {
        display: flex;
        justify-content: center;
        gap: 15px;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: rgba(21,84,119,1);
        padding: 10px 0;
        z-index: 1000;
    }

    .facebook img, .contact img {
        width: 40px;
        height: 40px;
    }

    footer {
        
        bottom: 0%;
        margin-bottom: 0%;
        margin-top: 80%;
    }
}


  
