body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color:#f4f4f4;
    color: black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.3s ease, width 0.3s ease;
    position: fixed; /* Fix sidebar to the left */
    height: 100%;
}

.sidebar.hidden {
    width: 60px;
    padding: 15px 5px; /* Adjust padding to fit smaller width */
}

.sidebar img {
    width: 200px;
    height: 200px;
    transition: width 0.3s, height 0.3s;
}

.sidebar.hidden img {
    padding-top: 10%;
    width: 50px;
    height: 50px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
    display: flex;
    justify-content: center; /* Center align text in smaller width */
    
}
.sidebar ul li:hover{
    background-color: rgba(21,84,119);
}

.sidebar ul li a {
    color: black;
    text-decoration: none;
    white-space: nowrap; /* Prevent text from wrapping */
}

.sidebar .contact {
    margin-top: 40px; /* Adjusted margin for extra space */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align text in smaller width */
    transition: opacity 0.3s;
}

.sidebar.hidden .contact {
    opacity: 0; /* Hide contact details when collapsed */
}
.sidebar.hidden .menu {
    opacity: 0; /* Hide contact details when collapsed */
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #dbd9d9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: margin-left 0.3s ease;
    margin-left: 250px;
    width: calc(100% - 250px); /* Adjust width to account for sidebar */
}

.main-content.expanded {
    margin-left: 60px;
    width: calc(100% - 60px); /* Adjust width to account for collapsed sidebar */
}


header {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(21,84,119);/* Set background to black */
    color: white; /* Set text color to white */
    padding: 10px;
}

#animated-text {
    font-size: 1.5em;
    color: #f4f4f4;
    animation: fadeInOut 4s infinite;
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

.sidebar.collapsed {
    width: 60px;
    transition: width 0.3s;
}

.sidebar.collapsed ul li a {
    display: none;
}


.words{
    display: flex;
    flex-direction: column;
}
.title{
    display: inline-block;
    align-items: center;
    justify-content: center;
    left: 50%;
}
.pics{
    display: grid;
    grid-template-columns: ;
}